<p> Let's play "Rock, Paper, Scissors"!  
What's your guess?</p>

<% one = 1 %>
<% two = 2 %>
<% three = 3 %>
<%= link_to image_tag("https://github.com/ga-students/BEWD_NYC_6/blob/master/08_Routes_Cont_Views/images/rock_paper_scissors/rock.jpeg?raw=true"), "/rps/#{one}" %>
<%= link_to image_tag("https://github.com/ga-students/BEWD_NYC_6/blob/master/08_Routes_Cont_Views/images/rock_paper_scissors/paper.jpeg?raw=true"), "/rps/#{two}" %>
<%= link_to image_tag("https://github.com/ga-students/BEWD_NYC_6/blob/master/08_Routes_Cont_Views/images/rock_paper_scissors/scissors.jpeg?raw=true"), "/rps/#{three}" %>
